/*============================== Page Cont Starts ============================*/
.section-main {
  padding: 0 30px 0 30px !important;
}

::-webkit-scrollbar {
  display: none;
}

.page-main-h {
  margin-bottom: 20px;
}

.search-h {
  position: relative;
}

.search-h > input {
  width: 100%;
  border: 1px solid #d1d1d1;
  outline: none;
  padding: 5px 10px;
  padding-left: 40px;
}

.search-h > input::placeholder {
  color: #656565;
}

.search-h > i {
  color: #d1d1d1;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.drop-h {
  position: relative;
}

.drop-h > .dropdown {
  border: 1px solid #d1d1d1;
}

.drop-h > .dropdown > .btn {
  padding: 4px 10px;
  font-size: 16px;
  width: 100%;
  text-align: left;
  color: #656565;
}

.drop-h > .dropdown > .dropdown-toggle::after {
  display: none;
}

.drop-h > i {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  color: #656565;
  cursor: pointer;
  z-index: -1;
}

.drop-h .btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}

.drop-h .dropdown-menu {
  width: 100%;
}

.h-btn > a {
  background-color: #f3dc53;
  padding: 10px 25px;
  border-radius: 40px;
  color: #000;
}

.h-btn > a:hover {
  background-color: #323b4a;
  color: #fff;
  transition: 0.3s;
}

.table-head {
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.table-main {
  margin-top: 30px;
}

.tab-h {
  border: 1px solid #d1d1d1;
  padding: 10px;
  box-shadow: 0 2px 15px #ccc;
}

.tab-h > .row {
  flex-wrap: nowrap;
  overflow: scroll;
}

.tab-field {
  border: 1px solid #d1d1d1;
  padding: 10px 0;
  color: #656565;
  font-size: 16px;
  border-top: none;
  cursor: pointer;
}

.tab-field:hover {
  background-color: rgba(143, 148, 162, 0.4);
}

.green-color {
  color: #65da5f;
  font-weight: 600;
}

.red-color {
  color: #eb3a2e;
  font-weight: 600;
}

.tab-field-bdr {
  border-radius: 0 0 5px 5px;
}

.page-btn {
  margin-top: 20px;
  display: inline-block;
  background-color: #e2e3e5;
  padding: 8px 18px;
  border-radius: 3px;
}

.page-1-btn {
  margin-top: 20px;
  display: inline-block;
  background-color: #323b4a;
  color: #fff;
  padding: 8px 18px;
  border-radius: 3px;
}

.page-1-btn:hover {
  color: #fff;
}

.page-2-btn {
  margin-top: 20px;
  display: inline-block;
  background-color: #fff;
  color: #323b4a;
  padding: 8px 18px;
  border-radius: 3px;
}

.page-2-btn:hover {
  color: #323b4a;
}

.page-txt-b {
  margin-top: 20px;
  color: #000;
}

.form-check-input:focus {
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: none;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom: none;
}

.table > :not(:first-child) {
  border-top: none;
}

.form-check-input:checked {
  background-color: #f3dc53;
  border-color: #f3dc53;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 44%;
}

/*============================== Page Cont End ============================*/

/*=============================== User Section =============================*/

.user-cont {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-bottom: 16px;
  background-color: #fff;
  padding: 10px 16px;
}

.part-2 {
  display: flex;
  align-items: center;
}

.bell {
  position: relative;
  padding: 20px;
  margin-right: 20px;
}

.bell > img {
  height: 20px;
}

.bell > span {
  padding: 1px 7px;
  border-radius: 50%;
  background-color: #ff9501;
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 8px;
}

.user-logo {
  margin-right: 10px;
}

.user-name > span {
  font-size: 14px;
  color: #a7a7a7;
}

.user-name > a {
  display: block;
  color: #bf932d;
  font-size: 14px;
  font-weight: 700;
}

/* Form Section */

.form-bg {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
}

.form-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 25px 30px;
  width: 50%;
  border-radius: 15px;
}

.form-h {
  font-size: 20px;
  font-weight: 500;
}

.save-btn {
  background-color: #f3dc53;
  border: none;
  padding: 10px 40px;
  border-radius: 26px;
  font-weight: 500;
}

.save-btn:hover {
  background-color: #323b4a;
  color: #fff;
}

.form-fields {
  color: #656565;
}

.form-fields > span {
  color: #f44336;
  font-weight: 600;
}

/* ===========================================================================
                                  * Media Query * 
===============================================================================*/

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .nav-bg {
    padding: 30px 10px;
  }

  .logo-main > img {
    width: 80%;
  }

  /* User Section */

  .bell {
    padding: 15px;
  }

  .bell > span {
    font-size: 12px;
    top: 6px;
    right: 5px;
  }

  .user-name > span {
    font-size: 12px;
  }

  .user-name > a {
    font-size: 12px;
  }

  /* Form Section */

  .form-main {
    width: 70%;
  }

  .form-fields {
    margin-bottom: 0;
  }
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {
  .nav-bg {
    padding: 30px 10px;
  }

  .logo-main > img {
    width: 90%;
  }

  /* User Section */

  .bell {
    padding: 15px;
  }

  .bell > span {
    font-size: 12px;
    top: 6px;
    right: 5px;
  }

  .user-name > span {
    font-size: 12px;
  }

  .user-name > a {
    font-size: 12px;
  }

  .page-btn {
    padding: 5px 14px;
  }

  .page-1-btn {
    padding: 5px 14px;
  }

  /* Form Section */

  .form-main {
    width: 70%;
  }

  .form-fields {
    font-size: 14px;
    margin-bottom: 0;
  }
}

/* User Section Special */

@media only screen and (min-device-width: 1200px) and (max-device-width: 1365px) {
  #open-user {
    pointer-events: visible;
  }

  .bell {
    margin-right: 10px;
  }

  .user-cont {
    background-color: #fff;
  }
}

@media only screen and (min-device-width: 1070px) and (max-device-width: 1199px) {
  #open-user {
    pointer-events: visible;
  }

  .user-cont {
    background-color: #fff;
  }
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {
  #open-user {
    pointer-events: visible;
  }

  .bell {
    margin-right: 0;
  }

  .user-cont {
    background-color: #fff;
  }
}
